Repository Indie-Creator-Community/side-project-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, manypkg fix

feat(scripts): ✨ update clean script to remove .turbo, node_modules, and dist folders
  apps/nextjs/package.json
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/config/eslint/package.json
  packages/db/package.json
  pnpm-lock.yaml
Due: manypkg fix

chore(deps): ⬆️ update nextjs from 3.4.10 to 3.4.12
  apps/nextjs/package.json
Due: manypkg fix

chore(lint): 🧹 fix linting issues in utility function and button component
  apps/nextjs/src/common/utils/helpers.ts
  apps/nextjs/src/pages/auth/signin.tsx
  apps/nextjs/src/pages/index.tsx
Due: prettier --write --ignore-unknown, eslint --fix

chore(deps): ⬆️ update dependencies in package.json
  apps/nextjs/package.json
  packages/api/package.json
  packages/db/package.json
  pnpm-lock.yaml
Due: manypkg fix

feat(deps): ⬆️ update commitlint packages to version 19.5.0
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: manypkg fix

feat(deps): ⬆️ update side-ui from 0.15.1 to 0.18.7
  package.json
  pnpm-lock.yaml
Due: manypkg fix

chore(deps): ⬆️ update typescript from 5.0.4 to 5.6.4
  apps/nextjs/package.json
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/config/eslint/package.json
  packages/db/package.json
  pnpm-lock.yaml
Due: manypkg fix

chore(deps): ⬆️ update react and react-dom from 18.2.0 to 18.3.1
  apps/nextjs/package.json
  packages/auth/package.json
  pnpm-lock.yaml
Due: manypkg fix

chore(eslint): 🔧 remove deprecated @typescript-eslint/ban-types rule
  packages/config/eslint/index.js
Due: none

chore(deps): ⬆️ update ESLint and related packages to latest versions
  apps/nextjs/package.json
  package.json
  packages/api/package.json
  packages/auth/package.json
  packages/config/eslint/package.json
  pnpm-lock.yaml
Due: manypkg fix

chore: 🔧 update pnpm-lock
  pnpm-lock.yaml
Due: none

Path conditions:
  prettier --write --ignore-unknown: any of: apps/**/*.{js,ts,jsx,tsx}
  eslint --fix: any of: apps/**/*.{js,ts,jsx,tsx}
  manypkg fix: any of: package.json
